<app-order-detail-tabs></app-order-detail-tabs>
<app-insured></app-insured>
<div class="clearfix">
  <!-- Progress Report Tab Start -->
  <div class="document-sort clearfix">
    <div class="inputbox">
      <input type="text" name="" class="form-control input" placeholder="Search Document">
      <a href="#" class="iconsearch"><i class="icon-exl-search-document searchicon"></i></a>
    </div>
    <span class="sortby-form">
      <select class="cs-select cs-skin-border">
        <option>Name</option>
        <option value="">Name 1</option>
        <option value="">Name 2</option>
        <option value="">Name 3</option>
      </select>
    </span>
    <div class="sortby-label">Sort By</div>
  </div>

  <div class="document-whitebox">
    <h5 class="mandatory-doc-title">MANDATory DOCUMENTS</h5>
    <ul class="document-list clearfix">
      <li><i class="doc-icon"><img src="assets/img/exl-pdf.svg"></i><a href="#" class="link">Order Summary</a></li>
      <li><i class="doc-icon"><img src="assets/img/exl-xls.svg"></i><a href="#" class="link">Insured Details</a></li>
      <li><i class="doc-icon"><img src="assets/img/exl-doc.svg"></i><a href="#" class="link">OSI Audit Form</a></li>
      <li><i class="doc-icon"><img src="assets/img/exl-doc.svg"></i><a href="#" class="link">Sales Info</a></li>
      <li><i class="doc-icon"><img src="assets/img/exl-txt.svg"></i><a href="#" class="link">Source Doc</a></li>
    </ul>
    <hr class="devided-line">
    <h5 class="mandatory-doc-title">MY DOCUMENTS</h5>
    <ul class="document-list clearfix">
      <li>
        <label class="check-wrap doc-check">
          <input type="checkbox" name="" checked>
          <span class="check-label"></span>
        </label>
        <i class="doc-icon"><img src="assets/img/exl-pdf.svg"></i><a href="#" class="link">Application Form</a>
      </li>
      <li>
        <label class="check-wrap doc-check">
          <input type="checkbox" name="">
          <span class="check-label"></span>
        </label>
        <i class="doc-icon"><img src="assets/img/exl-doc.svg"></i><a href="#" class="link">Source Signature</a>
      </li>
    </ul>
    <div class="btn-docs clearfix">
      <button type="button" class="btn btn-primary btn-length">ADD DOCUMENT</button>
      <button type="button" class="btn btn-border btn-length">DELETE DOCUMENT</button>
    </div>
  </div>
</div>
