<app-order-detail-tabs></app-order-detail-tabs>
<app-insured></app-insured>
<div class="clearfix">
  <!-- Records Tab Section Start -->
  <div class="clearfix">
    <div class="records-saved-selection row">
      <div class="label-select">Pre-saved Record Selection</div>
      <div class="col-sm-5 col-md-5">
        <span class="selectbox insure-select-form">
          <select class="cs-select cs-skin-border">
            <option>Select pre-saved records selection</option>
            <option value="">Select 1</option>
            <option value="">Select 2</option>
            <option value="">Select 3</option>
          </select>
        </span>
      </div>
    </div>
    <hr class="records-divider">
    <div class="selectrecord-title">Select records individually</div>
    <div class="select-record-wrap row">
      <div class="col-sm-4 col-md-3">
        <h5 class="auditype-title">AUDIT TYPE</h5>
        <ul class="auditype-checklist">
          <li>
            <label class="check-wrap">
              <input type="checkbox" name="" checked>
              <span class="check-label">Workers Comp</span>
            </label>
          </li>
          <li>
            <label class="check-wrap">
              <input type="checkbox" name="" checked>
              <span class="check-label">General Liability</span>
            </label>
          </li>
          <li>
            <label class="check-wrap">
              <input type="checkbox" name="" checked>
              <span class="check-label">Garage Liability</span>
            </label>
          </li>
          <li>
            <label class="check-wrap">
              <input type="checkbox" name="" checked>
              <span class="check-label">Auto</span>
            </label>
          </li>
          <li>
            <label class="check-wrap">
              <input type="checkbox" name="" checked>
              <span class="check-label">Umbrella</span>
            </label>
          </li>
          <li>
            <label class="check-wrap">
              <input type="checkbox" name="" checked>
              <span class="check-label">Inland Marine</span>
            </label>
          </li>
        </ul>
      </div>
      <div class="col-sm-8 col-md-9 record-requested">
        <h5 class="auditype-title">Records Requested:</h5>
        <ul class="auditype-checklist record-request-scroll">
          <li>
            <label class="check-wrap">
              <input type="checkbox" name="" checked>
              <span class="check-label">Earnings Records / Payroll summary from Quickbooks, Peachtrees etc</span>
            </label>
          </li>
          <li>
            <label class="check-wrap">
              <input type="checkbox" name="" checked>
              <span class="check-label">Overtime paid by classification</span>
            </label>
          </li>
          <li>
            <label class="check-wrap">
              <input type="checkbox" name="" checked>
              <span class="check-label">Listing of clerical / outside sales employees &amp; individual duties</span>
            </label>
          </li>
          <li>
            <label class="check-wrap">
              <input type="checkbox" name="" checked>
              <span class="check-label">Cafeteria 125 amounts</span>
            </label>
          </li>
          <li>
            <label class="check-wrap">
              <input type="checkbox" name="" checked>
              <span class="check-label">Timecards showing start and stop time</span>
            </label>
          </li>
          <li>
            <label class="check-wrap">
              <input type="checkbox" name="" checked>
              <span class="check-label">Certified payrolls for owners controlled ins. Program (OCIP) or Wrap Up</span>
            </label>
          </li>
          <li>
            <label class="check-wrap">
              <input type="checkbox" name="" checked>
              <span class="check-label">Amount Paid to subcontractors or contract labourers / 1099’s if any</span>
            </label>
          </li>
          <li>
            <label class="check-wrap">
              <input type="checkbox" name="" checked>
              <span class="check-label">Cost of materials supplied to subcontractors, if any</span>
            </label>
          </li>
          <li>
            <label class="check-wrap">
              <input type="checkbox" name="" checked>
              <span class="check-label">Certificates of Insurance from subcontractors, if any</span>
            </label>
          </li>
          <li>
            <label class="check-wrap">
              <input type="checkbox" name="" checked>
              <span class="check-label">Cash disburments journal, general ledger or tribal balance</span>
            </label>
          </li>
          <li>
            <label class="check-wrap">
              <input type="checkbox" name="" checked>
              <span class="check-label">Sales / Receipts records with corresponding sales tax reports</span>
            </label>
          </li>
          <li>
            <label class="check-wrap">
              <input type="checkbox" name="" checked>
              <span class="check-label">Financial / P&amp;L statements</span>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="savecancel-btn">
      <button type="button" class="btn btn-primary btn-width-same">SAVE</button>
      <button type="button" class="btn btn-border btn-width-same">CANCEL</button>
    </div>
  </div>
</div>
