<app-order-detail-tabs></app-order-detail-tabs>
<div class="clearfix">
  <div class="policy-dropdown clearfix">
    <div class="policy-number">Policy No.</div>
    <span class="selectbox policy-select-form">
      <select class="cs-select cs-skin-border">
        <option>WL6234325690</option>
        <option value="">WL6234325692</option>
        <option value="">WL6234325694</option>
        <option value="">WL6234325696</option>
      </select>
    </span>
  </div>

  <form #infoTabForm="ngForm" (ngSubmit)="generalInfoForms(infoTabForm.value)" novalidate>
    <p-accordion [multiple]="true">
    <div class="collapse-form">
      <!-- Accordion Tab Section -->
      <p-accordionTab [selected]="true">
        <p-header>
          <div class="collapse-form1">
            <div class="title-bar clearfix">
              <div class="title column-50">1. WORK ORDER INFORMATION</div>
              <div class="title column-50">2. POLICY INFORMATION</div>
            </div>
          </div>
        </p-header>
        <!-- Order WOID Details Form Expand and Collapse Section -->
        <div class="collapse-expand-container clearfix">
          <div class="column-50 border-devided">
            <div class="inline-form woid-form">
              <div class="form-group margin-none clearfix">
                <label>Work Order Type </label>
                <div class="input-div">
                  <input type="text" class="form-control" placeholder="Annual"
                  name="generalFormData.workInfo.workOrderType"
                  #workOrderType="ngModel"
                  minlength="4"
                  required
                  [(ngModel)]="generalFormData.workInfo.workOrderType">
                  <div *ngIf="workOrderType.errors && (workOrderType.dirty || workOrderType.touched)" class="alert">
                    <div [hidden]="!workOrderType.errors.required">Required field</div>
                    <div [hidden]="!workOrderType.errors.minlength">Please enter atlease 4 character</div>
                  </div>
                </div>
              </div>
              <div class="form-group clearfix">
                <label>Service Level </label>
                <div class="input-div">
                  <input type="text" class="form-control" placeholder="Normal"
                  name="generalFormData.workInfo.serviceLevel"
                  #serviceLevel="ngModel"
                  minlength="4"
                  required
                  [(ngModel)]="generalFormData.workInfo.serviceLevel">
                  <div *ngIf="serviceLevel.errors && (serviceLevel.dirty || serviceLevel.touched)" class="alert">
                    <div [hidden]="!serviceLevel.errors.required">Required field</div>
                    <div [hidden]="!serviceLevel.errors.minlength">Please enter atlease 4 character</div>
                  </div>
                </div>
              </div>
              <div class="form-group clearfix">
                <label>Product Line</label>
                <div class="input-div">
                  <input type="text" class="form-control" placeholder="OSI Physical Audit"
                  name="generalFormData.workInfo.productLine"
                  #productLine="ngModel"
                  minlength="4"
                  required
                  [(ngModel)]="generalFormData.workInfo.productLine">
                  <div *ngIf="productLine.errors && (productLine.dirty || productLine.touched)" class="alert">
                    <div [hidden]="!productLine.errors.required">Required field</div>
                    <div [hidden]="!productLine.errors.minlength">Please enter atlease 4 character</div>
                  </div>
                </div>
              </div>
              <div class="form-group clearfix">
                <label>Business Unit</label>
                <div class="input-div">
                  <input type="text" class="form-control" placeholder="Smith Underwriting"
                  name="generalFormData.workInfo.businessUnit"
                  #businessUnit="ngModel"
                  minlength="4"
                  required
                  [(ngModel)]="generalFormData.workInfo.businessUnit">
                  <div *ngIf="businessUnit.errors && (businessUnit.dirty || businessUnit.touched)" class="alert">
                    <div [hidden]="!businessUnit.errors.required">Required field</div>
                    <div [hidden]="!businessUnit.errors.minlength">Please enter atlease 4 character</div>
                  </div>
                </div>
              </div>
              <div class="form-group clearfix">
                <label>BizUnit #</label>
                <div class="input-div">
                  <input type="text" class="form-control" placeholder="1099978"
                  name="generalFormData.workInfo.bizUnit"
                  #bizUnit="ngModel"
                  minlength="4"
                  required
                  [(ngModel)]="generalFormData.workInfo.bizUnit">
                  <div *ngIf="bizUnit.errors && (bizUnit.dirty || bizUnit.touched)" class="alert">
                    <div [hidden]="!bizUnit.errors.required">Required field</div>
                    <div [hidden]="!bizUnit.errors.minlength">Please enter atlease 4 character</div>
                  </div>
                </div>
              </div>
              <div class="form-group clearfix">
                <label>Received Date</label>
                <div class="input-div">
                  <div class="calendar-input">
                    <input type="date" class="form-control date" placeholder="MM/DD/YYYY"
                    name="generalFormData.workInfo.receivedDate"
                    #receivedDate="ngModel"
                    required
                    [(ngModel)]="generalFormData.workInfo.receivedDate">
                    <a href=""class="icon-exl-calendar2 calendar-icon"></a>
                    <div *ngIf="receivedDate.errors && (receivedDate.dirty || receivedDate.touched)" class="alert">
                      <div [hidden]="!receivedDate.errors.required">Please select date</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group clearfix">
                <label>Due Date</label>
                <div class="input-div">
                  <div class="calendar-input">
                    <input type="date" class="form-control date" placeholder="MM/DD/YYYY"
                    name="generalFormData.workInfo.dueDate"
                    #dueDate="ngModel"
                    required
                    [(ngModel)]="generalFormData.workInfo.dueDate">
                    <a href=""class="icon-exl-calendar2 calendar-icon"></a>
                    <div *ngIf="dueDate.errors && (dueDate.dirty || dueDate.touched)" class="alert">
                      <div [hidden]="!dueDate.errors.required">Please select date</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group clearfix">
                <label>Last Program Report</label>
                <div class="input-div">
                  <div class="calendar-input">
                    <input type="date" class="form-control date" placeholder="MM/DD/YYYY"
                    name="generalFormData.workInfo.lastProgramReport"
                    #lastProgramReport="ngModel"
                    required
                    [(ngModel)]="generalFormData.workInfo.lastProgramReport">
                    <a href=""class="icon-exl-calendar2 calendar-icon"></a>
                    <div *ngIf="lastProgramReport.errors && (lastProgramReport.dirty || lastProgramReport.touched)" class="alert">
                      <div [hidden]="!lastProgramReport.errors.required">Please select date</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group clearfix">
                <label>Auto Completion date</label>
                <div class="input-div">
                  <div class="calendar-input">
                    <input type="date" class="form-control date" placeholder="MM/DD/YYYY"
                    name="generalFormData.workInfo.autoCompletionDate"
                    #autoCompletionDate="ngModel"
                    required
                    [(ngModel)]="generalFormData.workInfo.autoCompletionDate">
                    <a href=""class="icon-exl-calendar2 calendar-icon"></a>
                    <div *ngIf="autoCompletionDate.errors && (autoCompletionDate.dirty || autoCompletionDate.touched)" class="alert">
                      <div [hidden]="!autoCompletionDate.errors.required">Please select date</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="column-50 border-devided">
            <div class="inline-form woid-form">
              <div class="form-group margin-none clearfix">
                <label>Policy Number</label>
                <div class="input-div">
                  <input type="text" class="form-control" placeholder="999888777654"
                  name="generalFormData.policyInfo.policyNumber"
                  #policyNumber="ngModel"
                  minlength="4"
                  required
                  [(ngModel)]="generalFormData.policyInfo.policyNumber">
                  <div *ngIf="policyNumber.errors && (policyNumber.dirty || policyNumber.touched)" class="alert">
                    <div [hidden]="!policyNumber.errors.required">Required field</div>
                    <div [hidden]="!policyNumber.errors.minlength">Please enter atlease 4 character</div>
                  </div>
                </div>
              </div>
              <div class="form-group clearfix">
                <label>Policy Period</label>
                <div class="input-div clearfix">
                  <span class="calendar-input pull-left">
                    <input type="date" class="form-control date" placeholder="MM/DD/YYYY"
                    name="generalFormData.policyInfo.policyPeriodFrom"
                    #policyPeriodFrom="ngModel"
                    required
                    [(ngModel)]="generalFormData.policyInfo.policyPeriodFrom">
                    <a href=""class="icon-exl-calendar2 calendar-icon"></a>
                    <div *ngIf="policyPeriodFrom.errors && (policyPeriodFrom.dirty || policyPeriodFrom.touched)" class="alert">
                      <div [hidden]="!policyPeriodFrom.errors.required">Please select date</div>
                    </div>
                  </span>
                  <span class="period-to">to </span>
                  <span class="calendar-input pull-left">
                    <input type="date" class="form-control date" placeholder="MM/DD/YYYY"
                    name="generalFormData.policyInfo.policyPeriodTo"
                    #policyPeriodTo="ngModel"
                    required
                    [(ngModel)]="generalFormData.policyInfo.policyPeriodTo">
                    <a href=""class="icon-exl-calendar2 calendar-icon disabled"></a>
                    <div *ngIf="policyPeriodTo.errors && (policyPeriodTo.dirty || policyPeriodTo.touched)" class="alert">
                      <div [hidden]="!policyPeriodTo.errors.required">Please select date</div>
                    </div>
                  </span>
                </div>
              </div>
              <div class="form-group clearfix">
                <label>Audit Period</label>
                <div class="input-div clearfix">
                  <span class="calendar-input pull-left">
                    <input type="date" class="form-control date" placeholder="MM/DD/YYYY"
                    name="generalFormData.policyInfo.auditPeriodFrom"
                    #auditPeriodFrom="ngModel"
                    required
                    [(ngModel)]="generalFormData.policyInfo.auditPeriodFrom">
                    <a href=""class="icon-exl-calendar2 calendar-icon"></a>
                    <div *ngIf="auditPeriodFrom.errors && (auditPeriodFrom.dirty || auditPeriodFrom.touched)" class="alert">
                      <div [hidden]="!auditPeriodFrom.errors.required">Please select date</div>
                    </div>
                  </span>
                  <span class="period-to">to </span>
                  <span class="calendar-input pull-left">
                    <input type="date" class="form-control date" placeholder="MM/DD/YYYY"
                    name="generalFormData.policyInfo.auditPeriodTo"
                    #auditPeriodTo="ngModel"
                    required
                    [(ngModel)]="generalFormData.policyInfo.auditPeriodTo">
                    <a href=""class="icon-exl-calendar2 calendar-icon"></a>
                    <div *ngIf="auditPeriodTo.errors && (auditPeriodTo.dirty || auditPeriodTo.touched)" class="alert">
                      <div [hidden]="!auditPeriodTo.errors.required">Please select date</div>
                    </div>
                  </span>
                </div>
              </div>
              <div class="form-group clearfix">
                <label>Policy Type</label>
                <div class="input-div">
                  <input type="text" class="form-control" placeholder="Workers Compensation"
                  name="generalFormData.policyInfo.policyType"
                  #policyType="ngModel"
                  minlength="4"
                  required
                  [(ngModel)]="generalFormData.policyInfo.policyType">
                  <div *ngIf="policyType.errors && (policyType.dirty || policyType.touched)" class="alert">
                    <div [hidden]="!policyType.errors.required">Required field</div>
                    <div [hidden]="!policyType.errors.minlength">Please enter atlease 4 character</div>
                  </div>
                </div>
              </div>
              <div class="form-group clearfix">
                <label>Carrier</label>
                <div class="input-div">
                  <input type="text" class="form-control" placeholder="Acme Insurance Ltd"
                  name="generalFormData.policyInfo.carrier"
                  #carrier="ngModel"
                  minlength="4"
                  required
                  [(ngModel)]="generalFormData.policyInfo.carrier">
                  <div *ngIf="carrier.errors && (carrier.dirty || carrier.touched)" class="alert">
                    <div [hidden]="!carrier.errors.required">Required field</div>
                    <div [hidden]="!carrier.errors.minlength">Please enter atlease 4 character</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-accordionTab>

      <!-- Accordion Tabs Section -->
      <p-accordionTab [selected]="true">
          <p-header>
            <div class="title-bar clearfix margintop30">
              <div class="title column-33">3. INSURED</div>
              <div class="title column-33">4. Record location information</div>
              <div class="title column-33">5. Agent information</div>
            </div>
          </p-header>
          <!-- Order WOID Details Form Expand and Collapse Section -->
          <div class="collapse-expand-container clearfix">
            <div class="title column-33 border-devided">
              <h4 class="title-tablet-mobile visible-xs visible-sm">3. INSURED</h4>
              <div class="inline-form woid-form">
                <div class="form-group margin-none clearfix">
                  <label class="label-big">Insured Name</label>
                  <div class="input-div small-div">
                    <input type="text" class="form-control" placeholder="Scenic Motors Inc"
                    name="generalFormData.insured.insuredName"
                    #insuredName="ngModel"
                    minlength="4"
                    required
                    [(ngModel)]="generalFormData.insured.insuredName">
                    <div *ngIf="insuredName.errors && (insuredName.dirty || insuredName.touched)" class="alert">
                      <div [hidden]="!insuredName.errors.required">Required field</div>
                      <div [hidden]="!insuredName.errors.minlength">Please enter atlease 4 character</div>
                    </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label class="label-big">Other Name</label>
                  <div class="input-div small-div">
                    <input type="text" class="form-control" placeholder=""
                    name="generalFormData.insured.insOtherName"
                    #insOtherName="ngModel"
                    minlength="4"
                    required
                    [(ngModel)]="generalFormData.insured.insOtherName">
                    <div *ngIf="insOtherName.errors && (insOtherName.dirty || insOtherName.touched)" class="alert">
                      <div [hidden]="!insOtherName.errors.required">Required field</div>
                      <div [hidden]="!insOtherName.errors.minlength">Please enter atlease 4 character</div>
                    </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label class="label-big">Insured Address</label>
                  <div class="input-div small-div">
                    <textarea class="textarea"
                    name="generalFormData.insured.insuredAddress"
                    #insuredAddress="ngModel"
                    required
                    [(ngModel)]="generalFormData.insured.insuredAddress">1992 Rockford Street</textarea>
                    <div *ngIf="insuredAddress.errors && (insuredAddress.dirty || insuredAddress.touched)" class="alert">
                      <div [hidden]="!insuredAddress.errors.required">Required field</div>
                    </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label class="label-big">City</label>
                  <div class="input-div small-div">
                    <input type="text" class="form-control" placeholder=""
                    name="generalFormData.insured.insuredCity"
                    #insuredCity="ngModel"
                    minlength="4"
                    value="Mount Airy"
                    required
                    [(ngModel)]="generalFormData.insured.insuredCity">
                    <div *ngIf="insuredCity.errors && (insuredCity.dirty || insuredCity.touched)" class="alert">
                      <div [hidden]="!insuredCity.errors.required">Required field</div>
                      <div [hidden]="!insuredCity.errors.minlength">Please enter atlease 4 character</div>
                    </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label class="label-big">State</label>
                  <div class="input-div small-div">
                    <input type="text" class="form-control" placeholder=""
                    name="generalFormData.insured.insuredState"
                    #insuredState="ngModel"
                    minlength="4"
                    value="NC"
                    required
                    [(ngModel)]="generalFormData.insured.insuredState">
                    <div *ngIf="insuredState.errors && (insuredState.dirty || insuredState.touched)" class="alert">
                      <div [hidden]="!insuredState.errors.required">Required field</div>
                      <div [hidden]="!insuredState.errors.minlength">Please enter atlease 4 character</div>
                    </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label class="label-big">ZIP Code</label>
                  <div class="input-div small-div">
                    <input type="text" class="form-control" placeholder=""
                    name="generalFormData.insured.insZipCode"
                    #insZipCode="ngModel"
                    pattern="^[1-9][0-9]{5}$"
                    value="27030"
                    required
                    [(ngModel)]="generalFormData.insured.insZipCode">
                    <div *ngIf="insZipCode.errors && (insZipCode.dirty || insZipCode.touched)" class="alert">
                      <div [hidden]="!insZipCode.errors.required">Required field</div>
                      <div [hidden]="!insZipCode.errors.pattern">Please enter 6 digit</div>
                    </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label class="label-big">Contact Name</label>
                  <div class="input-div small-div">
                    <input type="text" class="form-control" placeholder=""
                    name="generalFormData.insured.inzContactNameFirst"
                    #inzContactNameFirst="ngModel"
                    minlength="4"
                    value="John"
                    required
                    [(ngModel)]="generalFormData.insured.inzContactNameFirst">
                    <div *ngIf="inzContactNameFirst.errors && (inzContactNameFirst.dirty || inzContactNameFirst.touched)" class="alert">
                      <div [hidden]="!inzContactNameFirst.errors.required">Required field</div>
                      <div [hidden]="!inzContactNameFirst.errors.minlength">Please enter atlease 4 character</div>
                    </div>
                    <input type="text" class="form-control margintop10" placeholder=""
                    name="generalFormData.insured.insContactNameLast"
                    #insContactNameLast="ngModel"
                    minlength="4"
                    value="Smith"
                    required
                    [(ngModel)]="generalFormData.insured.insContactNameLast">
                    <div *ngIf="insContactNameLast.errors && (insContactNameLast.dirty || insContactNameLast.touched)" class="alert">
                      <div [hidden]="!insContactNameLast.errors.required">Required field</div>
                      <div [hidden]="!insContactNameLast.errors.minlength">Please enter atlease 4 character</div>
                    </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label class="label-big">Main Phone</label>
                  <div class="input-div small-div">
                    <input type="text" class="form-control" placeholder=""
                    name="generalFormData.insured.insMainPhone"
                    #insMainPhone="ngModel"
                    minlength="4"
                    value="813-555-555"
                    required
                    [(ngModel)]="generalFormData.insured.insMainPhone">
                    <div *ngIf="insMainPhone.errors && (insMainPhone.dirty || insMainPhone.touched)" class="alert">
                      <div [hidden]="!insMainPhone.errors.required">Required field</div>
                      <div [hidden]="!insMainPhone.errors.minlength">Please enter atlease 4 character</div>
                    </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label class="label-big">Fax</label>
                  <div class="input-div small-div">
                    <input type="text" class="form-control" placeholder=""
                    name="generalFormData.insured.insuredFax"
                    #insuredFax="ngModel"
                    minlength="4"
                    value="813-555-555"
                    required
                    [(ngModel)]="generalFormData.insured.insuredFax">
                    <div *ngIf="insuredFax.errors && (insuredFax.dirty || insuredFax.touched)" class="alert">
                      <div [hidden]="!insuredFax.errors.required">Required field</div>
                      <div [hidden]="!insuredFax.errors.minlength">Please enter atlease 4 character</div>
                    </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label class="label-big">Cell Phone</label>
                  <div class="input-div small-div">
                    <input type="number" class="form-control" placeholder=""
                    name="generalFormData.insured.insCellPhone"
                    #insCellPhone="ngModel"
                    minlength="4"
                    value="813-555-555"
                    required
                    [(ngModel)]="generalFormData.insured.insCellPhone">
                    <div *ngIf="insCellPhone.errors && (insCellPhone.dirty || insCellPhone.touched)" class="alert">
                      <div [hidden]="!insCellPhone.errors.required">Required field</div>
                      <div [hidden]="!insCellPhone.errors.minlength">Please enter atlease 4 character</div>
                    </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label class="label-big">Email</label>
                  <div class="input-div small-div">
                    <input type="text" class="form-control" placeholder=""
                    name="generalFormData.insured.cellEmail"
                    #cellEmail="ngModel"
                    pattern = "^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    value="test@xyz.com"
                    required
                    [(ngModel)]="generalFormData.insured.cellEmail">
                    <div *ngIf="cellEmail.errors && (cellEmail.dirty || cellEmail.touched)" class="alert">
                      <div [hidden]="!cellEmail.errors.required">Required field</div>
                      <div [hidden]="!cellEmail.errors.pattern">Please enter valid email id</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="title column-33 border-devided">
              <h4 class="title-tablet-mobile visible-xs visible-sm">4. RECORD LOCATION INFORMATION</h4>
              <div class="inline-form woid-form">
                <div class="form-group margin-none clearfix">
                  <label class="label-big">Name</label>
                  <div class="input-div small-div">
                    <input type="text" class="form-control" placeholder="Scenic Motors Inc"
                    name="generalFormData.recordInfo.recordName"
                    #recordName="ngModel"
                    minlength="4"
                    required
                    [(ngModel)]="generalFormData.recordInfo.recordName">
                    <div *ngIf="recordName.errors && (recordName.dirty || recordName.touched)" class="alert">
                      <div [hidden]="!recordName.errors.required">Required field</div>
                      <div [hidden]="!recordName.errors.minlength">Please enter atlease 4 character</div>
                    </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label class="label-big">Other Name</label>
                  <div class="input-div small-div">
                    <input type="text" class="form-control" placeholder=""
                    name="generalFormData.recordInfo.recOtherName"
                    #recOtherName="ngModel"
                    minlength="4"
                    required
                    [(ngModel)]="generalFormData.recordInfo.recOtherName">
                    <div *ngIf="recOtherName.errors && (recOtherName.dirty || recOtherName.touched)" class="alert">
                      <div [hidden]="!recOtherName.errors.required">Required field</div>
                      <div [hidden]="!recOtherName.errors.minlength">Please enter atlease 4 character</div>
                    </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label class="label-big">Record Address</label>
                  <div class="input-div small-div">
                    <textarea class="textarea"
                    name="generalFormData.recordInfo.recordAddress"
                    #recordAddress="ngModel"
                    required
                    [(ngModel)]="generalFormData.recordInfo.recordAddress">1992 Rockford Street</textarea>
                    <div *ngIf="recordAddress.errors && (recordAddress.dirty || recordAddress.touched)" class="alert">
                      <div [hidden]="!recordAddress.errors.required">Required field</div>
                    </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label class="label-big">City</label>
                  <div class="input-div small-div">
                    <input type="text" class="form-control" placeholder=""
                    name="generalFormData.recordInfo.recordCity"
                    #recordCity="ngModel"
                    minlength="4"
                    value="Mount Airy"
                    required
                    [(ngModel)]="generalFormData.recordInfo.recordCity">
                    <div *ngIf="recordCity.errors && (recordCity.dirty || recordCity.touched)" class="alert">
                      <div [hidden]="!recordCity.errors.required">Required field</div>
                      <div [hidden]="!recordCity.errors.minlength">Please enter atlease 4 character</div>
                    </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label class="label-big">State</label>
                  <div class="input-div small-div">
                    <input type="text" class="form-control" placeholder=""
                    name="generalFormData.recordInfo.recordState"
                    #recordState="ngModel"
                    minlength="4"
                    value="NC"
                    required
                    [(ngModel)]="generalFormData.recordInfo.recordState">
                    <div *ngIf="recordState.errors && (recordState.dirty || recordState.touched)" class="alert">
                      <div [hidden]="!recordState.errors.required">Required field</div>
                      <div [hidden]="!recordState.errors.minlength">Please enter atlease 4 character</div>
                    </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label class="label-big">ZIP Code</label>
                  <div class="input-div small-div">
                    <input type="text" class="form-control" placeholder=""
                    name="generalFormData.recordInfo.recZipCode"
                    #recZipCode="ngModel"
                    pattern="^[1-9][0-9]{5}$"
                    value="27030"
                    required
                    [(ngModel)]="generalFormData.recordInfo.recZipCode">
                    <div *ngIf="recZipCode.errors && (recZipCode.dirty || recZipCode.touched)" class="alert">
                      <div [hidden]="!recZipCode.errors.required">Required field</div>
                      <div [hidden]="!recZipCode.errors.pattern">Please enter 6 digit</div>
                    </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label class="label-big">Contact Name</label>
                  <div class="input-div small-div">
                    <input type="text" class="form-control" placeholder=""
                    name="generalFormData.recordInfo.recContactName"
                    #recContactName="ngModel"
                    minlength="4"
                    value="John"
                    required
                    [(ngModel)]="generalFormData.recordInfo.recContactName">
                    <div *ngIf="recContactName.errors && (recContactName.dirty || recContactName.touched)" class="alert">
                      <div [hidden]="!recContactName.errors.required">Required field</div>
                      <div [hidden]="!recContactName.errors.minlength">Please enter atlease 4 character</div>
                    </div>
                    <input type="text" class="form-control margintop10" placeholder=""
                    name="generalFormData.recordInfo.recContactNameLast"
                    #recContactNameLast="ngModel"
                    minlength="4"
                    value="Smith"
                    required
                    [(ngModel)]="generalFormData.recordInfo.recContactNameLast">
                    <div *ngIf="recContactNameLast.errors && (recContactNameLast.dirty || recContactNameLast.touched)" class="alert">
                      <div [hidden]="!recContactNameLast.errors.required">Required field</div>
                      <div [hidden]="!recContactNameLast.errors.minlength">Please enter atlease 4 character</div>
                    </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label class="label-big">Main Phone</label>
                  <div class="input-div small-div">
                    <input type="text" class="form-control" placeholder=""
                    name="generalFormData.recordInfo.recMainPhone"
                    #recMainPhone="ngModel"
                    minlength="4"
                    value="813-555-555"
                    required
                    [(ngModel)]="generalFormData.recordInfo.recMainPhone">
                    <div *ngIf="recMainPhone.errors && (recMainPhone.dirty || recMainPhone.touched)" class="alert">
                      <div [hidden]="!recMainPhone.errors.required">Required field</div>
                      <div [hidden]="!recMainPhone.errors.minlength">Please enter atlease 4 character</div>
                    </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label class="label-big">Fax</label>
                  <div class="input-div small-div">
                    <input type="text" class="form-control" placeholder=""
                    name="generalFormData.recordInfo.recordFax"
                    #recordFax="ngModel"
                    minlength="4"
                    value="813-555-555"
                    required
                    [(ngModel)]="generalFormData.recordInfo.recordFax">
                    <div *ngIf="recordFax.errors && (recordFax.dirty || recordFax.touched)" class="alert">
                      <div [hidden]="!recordFax.errors.required">Required field</div>
                      <div [hidden]="!recordFax.errors.minlength">Please enter atlease 4 character</div>
                    </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label class="label-big">Cell Phone</label>
                  <div class="input-div small-div">
                    <input type="number" class="form-control" placeholder=""
                    name="generalFormData.recordInfo.recCellPhone"
                    #recCellPhone="ngModel"
                    minlength="4"
                    value="813-555-555"
                    required
                    [(ngModel)]="generalFormData.recordInfo.recCellPhone">
                    <div *ngIf="recCellPhone.errors && (recCellPhone.dirty || recCellPhone.touched)" class="alert">
                      <div [hidden]="!recCellPhone.errors.required">Required field</div>
                      <div [hidden]="!recCellPhone.errors.minlength">Please enter atlease 4 character</div>
                    </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label class="label-big">Email</label>
                  <div class="input-div small-div">
                    <input type="text" class="form-control" placeholder=""
                    name="generalFormData.recordInfo.recordEmail"
                    #recordEmail="ngModel"
                    pattern = "^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    value="test@xyz.com"
                    required
                    [(ngModel)]="generalFormData.recordInfo.recordEmail">
                    <div *ngIf="recordEmail.errors && (recordEmail.dirty || recordEmail.touched)" class="alert">
                      <div [hidden]="!recordEmail.errors.required">Required field</div>
                      <div [hidden]="!recordEmail.errors.pattern">Please enter valid email id</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="title column-33 border-devided">
              <h4 class="title-tablet-mobile visible-xs visible-sm">5. Agent Information</h4>
              <div class="inline-form woid-form">
                <div class="form-group margin-none clearfix">
                  <label class="label-big">Agent Name 1</label>
                  <div class="input-div small-div">
                    <input type="text" class="form-control" placeholder=""
                    name="generalFormData.agentInfo.agentName"
                    #agentName="ngModel"
                    minlength="4"
                    value="Smith Bros"
                    required
                    [(ngModel)]="generalFormData.agentInfo.agentName">
                    <div *ngIf="agentName.errors && (agentName.dirty || agentName.touched)" class="alert">
                      <div [hidden]="!agentName.errors.required">Required field</div>
                      <div [hidden]="!agentName.errors.minlength">Please enter atlease 4 character</div>
                    </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label class="label-big">Agent Name 2</label>
                  <div class="input-div small-div">
                    <input type="text" class="form-control" placeholder=""
                    name="generalFormData.agentInfo.agentNameTwo"
                    #agentNameTwo="ngModel"
                    minlength="4"
                    required
                    [(ngModel)]="generalFormData.agentInfo.agentNameTwo">
                    <div *ngIf="agentNameTwo.errors && (agentNameTwo.dirty || agentNameTwo.touched)" class="alert">
                      <div [hidden]="!agentNameTwo.errors.required">Required field</div>
                      <div [hidden]="!agentNameTwo.errors.minlength">Please enter atlease 4 character</div>
                    </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label class="label-big">Agent Address</label>
                  <div class="input-div small-div">
                    <textarea class="textarea"
                    name="generalFormData.agentInfo.agentAddress"
                    #agentAddress="ngModel"
                    required
                    [(ngModel)]="generalFormData.agentInfo.agentAddress">PO BOX 1234</textarea>
                    <div *ngIf="agentAddress.errors && (agentAddress.dirty || agentAddress.touched)" class="alert">
                      <div [hidden]="!agentAddress.errors.required">Required field</div>
                    </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label class="label-big">City</label>
                  <div class="input-div small-div">
                    <input type="text" class="form-control" placeholder=""
                    name="generalFormData.agentInfo.agentCity"
                    #agentCity="ngModel"
                    minlength="4"
                    value="Tampa"
                    required
                    [(ngModel)]="generalFormData.agentInfo.agentCity">
                    <div *ngIf="agentCity.errors && (agentCity.dirty || agentCity.touched)" class="alert">
                      <div [hidden]="!agentCity.errors.required">Required field</div>
                      <div [hidden]="!agentCity.errors.minlength">Please enter atlease 4 character</div>
                    </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label class="label-big">State</label>
                  <div class="input-div small-div">
                    <input type="text" class="form-control" placeholder=""
                    name="generalFormData.agentInfo.agentState"
                    #agentState="ngModel"
                    minlength="4"
                    value="FL"
                    required
                    [(ngModel)]="generalFormData.agentInfo.agentState">
                    <div *ngIf="agentState.errors && (agentState.dirty || agentState.touched)" class="alert">
                      <div [hidden]="!agentState.errors.required">Required field</div>
                      <div [hidden]="!agentState.errors.minlength">Please enter atlease 4 character</div>
                    </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label class="label-big">ZIP Code</label>
                  <div class="input-div small-div">
                    <input type="text" class="form-control" placeholder=""
                    name="generalFormData.agentInfo.agentZipCode"
                    #agentZipCode="ngModel"
                    pattern="^[1-9][0-9]{5}$"
                    required
                    [(ngModel)]="generalFormData.agentInfo.agentZipCode">
                    <div *ngIf="agentZipCode.errors && (agentZipCode.dirty || agentZipCode.touched)" class="alert">
                      <div [hidden]="!agentZipCode.errors.required">Required field</div>
                      <div [hidden]="!agentZipCode.errors.pattern">Please enter 6 digit</div>
                    </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label class="label-big">Contact Name</label>
                  <div class="input-div small-div">
                    <input type="text" class="form-control" placeholder=""
                    name="generalFormData.agentInfo.agentContactName"
                    #agentContactName="ngModel"
                    minlength="4"
                    value="John"
                    required
                    [(ngModel)]="generalFormData.agentInfo.agentContactName">
                    <div *ngIf="agentContactName.errors && (agentContactName.dirty || agentContactName.touched)" class="alert">
                      <div [hidden]="!agentContactName.errors.required">Required field</div>
                      <div [hidden]="!agentContactName.errors.minlength">Please enter atlease 4 character</div>
                    </div>
                    <input type="text" minlength="4" class="form-control margintop10"
                    name="generalFormData.agentInfo.agentContactNameLast"
                    #agentContactNameLast="ngModel"
                    placeholder="Smith"
                    required
                    [(ngModel)]="generalFormData.agentInfo.agentContactNameLast">
                    <div *ngIf="agentContactNameLast.errors && (agentContactNameLast.dirty || agentContactNameLast.touched)" class="alert">
                      <div [hidden]="!agentContactNameLast.errors.required">Required field</div>
                      <div [hidden]="!agentContactNameLast.errors.minlength">Please enter atlease 4 character</div>
                    </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label class="label-big">Agent Phone</label>
                  <div class="input-div small-div">
                    <input type="text" class="form-control" placeholder=""
                    name="generalFormData.agentInfo.agentPhone"
                    #agentPhone="ngModel"
                    minlength="4"
                    value="813-555-555"
                    required
                    [(ngModel)]="generalFormData.agentInfo.agentPhone">
                    <div *ngIf="agentPhone.errors && (agentPhone.dirty || agentPhone.touched)" class="alert">
                      <div [hidden]="!agentPhone.errors.required">Required field</div>
                      <div [hidden]="!agentPhone.errors.minlength">Please enter atlease 4 character</div>
                    </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label class="label-big">Fax</label>
                  <div class="input-div small-div">
                    <input type="text" class="form-control" placeholder=""
                    name="generalFormData.agentInfo.agentFax"
                    #agentFax="ngModel"
                    minlength="4"
                    value="813-555-555"
                    required
                    [(ngModel)]="generalFormData.agentInfo.agentFax">
                    <div *ngIf="agentFax.errors && (agentFax.dirty || agentFax.touched)" class="alert">
                      <div [hidden]="!agentFax.errors.required">Required field</div>
                      <div [hidden]="!agentFax.errors.minlength">Please enter atlease 4 character</div>
                    </div>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label class="label-big">Email</label>
                  <div class="input-div small-div">
                    <input type="text" class="form-control" placeholder=""
                    name="generalFormData.agentInfo.agentEmail"
                    #agentEmail="ngModel"
                    pattern = "^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    value="redacted@olsi.net"
                    required
                    [(ngModel)]="generalFormData.agentInfo.agentEmail">
                    <div *ngIf="agentEmail.errors && (agentEmail.dirty || agentEmail.touched)" class="alert">
                      <div [hidden]="!agentEmail.errors.required">Required field</div>
                      <div [hidden]="!agentEmail.errors.pattern">Please enter valid email id</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </p-accordionTab>
    </div>
    </p-accordion>

    <div class="clearfix">
      <button type="submit" [disabled]="!infoTabForm.form.valid" class="btn btn-secondary">SAVE &amp; SUBMIT CHANGES</button>
      <button type="button" class="btn btn-border-pink cancel">CANCEL</button>
    </div>
  </form>
</div>
