<!-- Left Panel Start -->
<div class="leftpanel">
  <nav class="navigation clearfix ">
    <ul>
      <li routerLinkActive="active">
        <a routerLink="/order"><i class="icon-exl-order nav-icons"></i>Orders</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/agenda"><i class="icon-exl-agenda nav-icons agenda"></i>Agenda</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/reports"><i class="icon-exl-reports nav-icons report icon-left"></i>Reports</a>
      </li>
    </ul>
  </nav>
</div>
