<!-- Reminder Message Dropdown Start -->
<div class="notifi-icons-dropdown">
  <span class="arrow-up"></span>
  <div class="mesg-head clearfix">
    <h4 class="col-sm-12 col-md-12 title">System Flags</h4>
  </div>
  <div class="dropdown-middle">
    <ul class="systemflat-list">
      <li class="clearfix">
        <div class="col-sm-11 col-md-11">
          <p class="woid-number"><a href="#">WOID 1144332</a></p>
          <p class="reminder-descrip">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum printing and typesetting industry. Lorem Ipsum.</p>
          <span class="reminder-date">10:27 am</span>
        </div>
        <div class="col-sm-1 col-md-1 flags-circle"><p class="red"></p></div>
      </li>
      <li class="clearfix active">
        <div class="col-sm-11 col-md-11">
          <p class="woid-number"><a href="#">WOID 1144332</a></p>
          <p class="reminder-descrip">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum printing and typesetting industry. Lorem Ipsum.</p>
          <span class="reminder-date">10:27 am</span>
        </div>
        <div class="col-sm-1 col-md-1 flags-circle"><p class="red"></p></div>
      </li>
      <li class="clearfix">
        <div class="col-sm-11 col-md-11">
          <p class="woid-number"><a href="#">WOID 1144332</a></p>
          <p class="reminder-descrip">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum printing and typesetting industry. Lorem Ipsum.</p>
          <span class="reminder-date">10:27 am</span>
        </div>
        <div class="col-sm-1 col-md-1 flags-circle"><p class="green"></p></div>
      </li>
    </ul>
  </div>
</div>
