<!-- Reminder Message Dropdown Start -->
<div class="notifi-icons-dropdown">
  <span class="arrow-up"></span>
  <div class="mesg-head clearfix">
    <h4 class="col-sm-12 col-md-12 title">System Flags</h4>
  </div>
  <div class="dropdown-middle">
    <ul class="systemflat-list">
      <li class="clearfix" *ngFor="let flatNotification of flatNotifList">
        <div class="col-sm-11 col-md-11">
          <p class="woid-number"><a href="#">{{flatNotification.voidNumber}}</a></p>
          <p class="reminder-descrip">{{flatNotification.flatDescrip}}</p>
          <span class="reminder-date">{{flatNotification.flatTime}}</span>
        </div>
        <div class="col-sm-1 col-md-1 flags-circle">
          <p class="red"></p>
          <!-- <p class="green"> -->
        </div>
      </li>
    </ul>
  </div>
</div>
