<app-navbar></app-navbar>
<app-header></app-header>
<!-- Main Container Start -->
<div class="main-container">
  <div class="container-fluid middle-portion">
    <div class="row marginbtm clearfix hidden-xs">
        <!-- Top Bread Crumb Section -->
        <div class="col-sm-12 col-md-5">
          <ul class="breadcrumb">
            <li class="active">Orders</li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-7 breadcrumb-rtportion">
          <span class="search-input clearfix">
            <input type="text" class="inputbox" value="Search">
            <a href="#" class="iconsearch"><i class="fa fa-search" aria-hidden="true"></i></a>
          </span>
          <span class="selectbox insure-select-form">
            <select class="cs-select cs-skin-border">
              <option>Insured Name</option>
              <option value="">Select 1</option>
              <option value="">Select 2</option>
              <option value="">Select 3</option>
            </select>
          </span>
        </div>
    </div>

    <router-outlet></router-outlet>
  </div>

  <!-- Footer Portion Start -->
  <app-footer></app-footer>
</div>
