<div class="page-title-blue row">
  <h3 class="title col-sm-6 col-md-6 hidden-xs">ORDERS</h3>
  <div class="col-sm-6 col-md-6 clearfix">
    <div class="onoffswitch pull-right">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch1">
        <label class="onoffswitch-label" for="myonoffswitch1">
            <span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span>
        </label>
    </div>
    <span class="schedule-appoint-label">Schedule Appointments</span>
  </div>
</div>
<app-filter></app-filter>
<app-order-grid></app-order-grid>
