@import "../../../styles/variable.scss";
.server-data-list {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      border-bottom: 1px solid $grey-light3;
      padding: 15px 0;
      .marginLeft {
        border-left: 1px solid $grey-light;
        padding-left: 20px;
        margin-left: 20px;
      }
    }
  }
}

.report-form {
  .form-group {
    .labels {
      width: 20%;
    }
  }
}
.margintop-10 {
  margin-top: 10px;
}
ul.colorListing {
  margin-left: 10px;
  list-style: none;
  li {
    border-bottom: 1px solid #ccc;
    padding: 3px 0;
  }
  .colors-text {
    width: 70%;
    display: inline-block;
  }
}
